@model GoogleBooksResponse

<div class="text-center">
    <h1 class="display-4">Google Books</h1>
    <p>อ่านอะไรต่อดี</p>
</div>

<form method="get" asp-controller="MoreBook" asp-action="Index">
    <div class="d-flex justify-content-center">
        <div style="width: 50%;">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="query" placeholder="ค้นหา...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">ค้นหา</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row d-flex justify-content-center align-items-center">
    @if (Model?.items == null || Model.items.Count == 0)
    {
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="card placeholder-glow" style="width: 18rem; margin: 1.5rem">
                    <span class="placeholder col-12" style="height: 200px;"></span>
                    <div class="card-body">
                        <h5 class="card-title placeholder col-6"></h5>
                        <p class="card-text placeholder col-8"></p>
                    </div>
                </div>
            }
        </div>
    }else{
        @foreach (var book in Model.items)
        {
            <div class="card" style="width: 18rem; margin: 1.5rem">
                <img src="@(book.volumeInfo.imageLinks?.thumbnail ?? "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNNLEL-qmmLeFR1nxJuepFOgPYfnwHR56vcw&s")" alt="Book Cover">
                    <div class="card-body">
                        <h5 class="card-title">@book.volumeInfo.title</h5>
                        <p class="card-subtitle mb-2 text-muted">
                            @(book.volumeInfo.description != null
                                ? (book.volumeInfo.description.Length > 50
                                ? book.volumeInfo.description.Substring(0, 80) + "..."
                                : book.volumeInfo.description)
                                : "ไม่มีคำอธิบาย")
                        </p>
                    </div>
            </div>
        }
    }

</div>