@model Book;

@{
    ViewData["Title"] = "Edit";
}


<h1 class="text-center">แก้ไขข้อมูลหนังสือ</h1>

<form method="post" asp-controller="Note" asp-action="Edit">

    <div class="mb-3">
        <label for="formFile" class="form-label">รูปหนังสือ</label>
        <input asp-for="ImageFile" class="form-control" type="file" placeholder="รูปหนังสือ" aria-label="default input example">
    </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">ชื่อหนังสือ</label>
        <input asp-for="BookName" class="form-control" type="text" placeholder="ชื่อหนังสือ" aria-label="default input example">
    </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">ผู้เขียน</label>
        <input asp-for="Author" class="form-control" type="text" placeholder="ผู้เขียน" aria-label="default input example">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">รายละเอียดเพิ่มเติม</label>
        <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="mb-3">
        <label for="formFile" class="form-label">ประเภทหนังสือ</label>
        <input asp-for="Category" class="form-control" type="text" placeholder="ประเภทหนังสือ" aria-label="default input example">
    </div>

    <button style="margin-top:1rem;" type="submit" class="btn btn-primary"> แก้ไข </button>
</form>