@model IEnumerable<bookcollection.Models.Book>;

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Book Collections <a class="card-link" asp-controller="Home" asp-action="Create" style="text-decoration: none">+</a> </h1>

    <p>หนังสือเก่าในมุมเดิม</p>
</div>

<div class="d-flex justify-content-center align-items-center"> <input type="text" name="name" value="" /> </div>

<div class="row d-flex justify-content-center align-items-center">

    <div class="card" style="width: 18rem; margin: 1.5rem">
        <img src="https://storage.naiin.com/system/application/bookstore/resource/product/202202/542643/1000246894_front_XXL.jpg?imgname=%E0%B8%A1%E0%B8%B8%E0%B8%A1%E0%B8%A1%E0%B8%AD%E0%B8%87%E0%B8%99%E0%B8%B1%E0%B8%81%E0%B8%AD%E0%B9%88%E0%B8%B2%E0%B8%99%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%88%E0%B9%89%E0%B8%B2-%E0%B9%80%E0%B8%A5%E0%B9%88%E0%B8%A1-1-(%E0%B8%9E%E0%B8%B4%E0%B8%A1%E0%B8%9E%E0%B9%8C%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88)" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">มุมมองนักอ่านพระเจ้า</p>
            <p class="card-text">อ่านแล้ว</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1.5rem">
        <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1639381044i/59815346.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">The Bitcoin Standard - ระบบการเงินทางเลือกใหม่ไร้ศูนย์กลาง</p>
            <p class="card-text">กำลังอ่าน</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1.5rem">
        <img src="https://inwfile.com/s-dl/xvxcv0.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Why is Sex fun - เซ็กซ์นั้นสนุกไฉน</p>
            <p class="card-text">กำลังอ่าน</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1.5rem">
        <img src="https://bookscape.co/wp-content/webp-express/webp-images/doc-root/wp-content/uploads/2023/05/%E0%B8%9B%E0%B8%81%E0%B8%AB%E0%B8%99%E0%B9%89%E0%B8%B2%E0%B8%A5%E0%B8%87%E0%B9%80%E0%B8%A7%E0%B9%87%E0%B8%9A-%E0%B8%A1%E0%B8%B5%E0%B8%82%E0%B8%AD%E0%B8%9A.jpg.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Friedrich Hayek - ต้นธารความคิดเสรีภาพนิยมยุคใหม่</p>
            <p class="card-text">อ่านแล้ว</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1.5rem">
        <img src="https://cdn-ookbee.okbcdn.net/Books/AmarinBooks/2021/20210914112618135071/Thumbnails/Cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">ห่างแค่ไหน ถึงใกล้กำลังดี</p>
            <p class="card-text">อ่านแล้ว</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin: 1.5rem">
        <img src="https://storage.naiin.com/system/application/bookstore/resource/product/202109/533898/1000243612_front_XXL.jpg?imgname=%E0%B9%80%E0%B8%9B%E0%B9%87%E0%B8%99%E0%B8%84%E0%B8%99%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%94%E0%B8%B2-%E0%B9%81%E0%B8%95%E0%B9%88%E0%B8%A7%E0%B9%88%E0%B8%B2...%E0%B8%8B%E0%B8%B6%E0%B8%A1%E0%B9%80%E0%B8%A8%E0%B8%A3%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%B4%E0%B8%94%E0%B8%AB%E0%B8%99%E0%B9%88%E0%B8%AD%E0%B8%A2" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">เป็นคนธรรมดา แต่ว่า...ซึมเศร้านิดหน่อย</p>
            <p class="card-text">อ่านแล้ว</p>
        </div>
    </div>

</div>

@foreach (var book in Model)
    {
        <div class="card" style="width: 18rem; margin: 1.5rem">
            <img src="@book.Image" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">@book.BookName</p>
                <p class="card-text">อ่านแล้ว</p>
            </div>
        </div>
    }