@model BookViewModel;
@{
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Collections <a class="card-link" href="#" data-bs-toggle="modal" data-bs-target="#myModal" style="text-decoration: none">+</a> </h1>
    <p>หนังสือเก่าในมุมเดิม</p>
</div>

<div class="d-flex justify-content-center align-items-center"> <input type="text" name="name" value="" /> </div>


<div class="row d-flex justify-content-center align-items-center">

    @foreach (var book in Model.Books)
     {
            <div class="card" style="width: 18rem; margin: 1.5rem">
                <form asp-action="Index" asp-controller="Note" asp-route-id="@book.Id">
                <div onclick="this.closest('form').submit();" style="cursor: pointer;">
                    <div style="display:flex; justify-content:end;"> <a asp-controller="Home" asp-action="Delete" asp-route-id="@book.Id" style="text-decoration: none">x</a> </div>
                     <img src="data:image/png;base64,@book.Image64" class="card-img-top" alt="...">
                     <div class="card-body">
                        <h5 class="card-title">@book.BookName</h5>
                        <p class="card-subtitle mb-2 text-muted">
                            @(book.Description.Length > 50 ? book.Description.Substring(0, 80) + "..." : book.Description)
                        </p>
                     </div>
                </div>
            </form>
             </div>
     }

</div>


<form method="post" asp-controller="Home" asp-action="Create" enctype="multipart/form-data">
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Create New Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                        <div class="mb-3">
                            <label for="formFile" class="form-label">รูปหนังสือ</label>
                        <input asp-for="NewBook.ImageFile" class="form-control" type="file" placeholder="รูปหนังสือ" aria-label="default input example">
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">ชื่อหนังสือ</label>
                            <input asp-for="NewBook.BookName" class="form-control" type="text" placeholder="ชื่อหนังสือ" aria-label="default input example">
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">ผู้เขียน</label>
                            <input asp-for="NewBook.Author" class="form-control" type="text" placeholder="ผู้เขียน" aria-label="default input example">
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">รายละเอียดเพิ่มเติม</label>
                            <textarea asp-for="NewBook.Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">ประเภทหนังสือ</label>
                            <input asp-for="NewBook.Category" class="form-control" type="text" placeholder="ประเภทหนังสือ" aria-label="default input example">
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary">เพิ่ม</button>
                </div>
            </div>
        </div>
    </div>
</form>